h1{
  font-family: 'Monoton', cursive;
  text-align: center;
  color: lightgrey;
  font-size: 60px;
}



.element {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: teal;
  }
  100% {
    background-color: purple;
  }
}

html,
body {
  height: 100%;
}

p{
  background-color: black;
  width: 500px;
  padding: 50px;
  text-align: center;
  margin-top: 420px;
  color: white;

}
/*styling image*/

img{
  height: 300px;
  width: 400px;
  float: right;
  padding-right: 20px;
  padding-top: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 2.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}