* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Georgia', arial;
  letter-spacing: .075em;
  width: 800px;
  padding: 50px;
  background: grey; 
  margin: 0 auto;
}

h1{
  font-family: Georgia;
  font-size: 50px;
}
nav{
  background-color: aquamarine;
  display: inline-block;
  font-size: 20px;
}

div {
    color: white;
    padding: 20px;
    margin-top: 10px;
    background: #00CED1;
    height: 500px;
}

img{
  
  display: block;
  background-color: aquamarine;
  height: 300px;
  width: 650px;
}

#images{
  padding: 10px;
    margin-top: 10px;
    background: #00CED1;
    height: 650
      .absolute {
    position: absolute;
    background: aquamarine;
    height: 300px;
    width: 500px;
    left: 50px;
    top: 50px;
}
.clearfix{
  overflow: auto;
}
