
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


h1 {
    text-align: center;
    color: grey;
    font-family: georgia;
    font-size: 50px;
}

.container {
  max-width:900px;
  position:relative;
  margin: 0 auto;
}


section {
  padding: 20px;
    
}

#section1 {
  background-color: lightpink;  
  font-family: georgia;
  font-size: 18px
}

#section2 {
  background-color: lightpink;
    font-family: georgia;
  	font-size: 18px
}

#section3 {
  background-color: lightpink;
    font-family: georgia;
  	font-size: 18px

}
#section4 {
  background-color: lightpink;
  	  font-family: georgia;
  	  font-size: 18px

}
#section5 {
  background-color: lightpink;
  	  font-family: georgia;
  	  font-size: 18px
}


