//* CSS styling 3 *//
//*Multicolumn float*//


*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav{
  display: inline-block;
  font-size: 20px;
  left: 0px;
  background-color: lightyellow; 
}

h1{
    text-align: center;
    color: lightblue;
    font-family: georgia;
    font-size: 80px;
}

body {
  font-family: georgia;
  letter-spacing: .075em;
  color: grey;
}

.container {
  max-width:800px;
  position:relative;
  margin: 0 auto;
}

/*styling each section div*/
section { 
    padding: 40px;
    width: 400px;
    float: left;
    margin: 10px;
    min-height: 400px;
}

#section1 {
	background-color: pink;
}

#section2 {
	background-color: lavender;
}

#section3 {
background-color: lightyellow ;
}

#section4 {
	background-color: lightgrey;
}

#section5 {
	background-color: aquamarine;
}
