//* CSS styling 3 *//




*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1{
    text-align: center;
    color: lightblue;
    font-family: georgia;
    font-size: 80px;
}

#section1 {
	border: solid pink 10px;
}

#section2 {
	border: solid lavender 20px;
}

#section3 {
	border: solid lightyellow 30px;
}

#section4 {
	border: solid lightgrey 20px;
}

#section5 {
	border: solid aquamarine 20px;
}