body{
  margin: 0;
  padding: 0;
  background:black;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: white;
  text-align: center;
  font-size: 40px;
  margin-left: 100px;
}

div.clear{
    clear: both;
}

#content{
    height: 600px;
    display: block;
    margin-left: 150px;
    margin-right: 100px;
    padding-bottom: 20px;
    text-align: center;
}

#content1{
    height: 60vh;
    display: block;
    padding-bottom: 20px;
    text-align: center;
}

#contact {
    display: block;
    margin-left: 150px;
    margin-right: 100px;
    padding-bottom: 20px; 

  }

/*iframe*/
#contact iframe {
    width: 30vw;
    height: inherit;
    filter: grayscale(100%);
    display: inline-block;
    float: right;
    border: none;
    height: 275px;
    margin-top: -375px;
}
/* Contact Form*/

#contact-form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    float: left;
    color: white;
    font-family: 'Playfair Display', serif;
    margin-top: -400px;
}

#contact-form input {
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    align-content: center;
}

#contact-form textarea {
    width: 80%;
    padding: 10px 20px;
    margin-left: 20px 0;
    text-align: center;
}

#contact-form input[type=button] {
    width: 30%;
    background-color: #433F3C;
    border: 2px solid #fff;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

#contact-form input[type=button]:hover {
    background-color: #fff;
    color: #433F3C;

}
.main{
  margin-left: 200px;
  font-family:'Playfair Display', serif;
}


/*Menu*/
.menu-icon{
  position: relative;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 44px;
  padding: 4px, 8px; 
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}


/* Side Bar styling*/
.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #262626;
  transition: .5s;
  padding: 0;
  text-align: center;
  box-sizing: border-box;  
}

/* Inside side bar styling*/

.sidebar .menu {
  margin: 0;
  padding: 40px 0;
}

.sidebar .menu li{
  list-style: none;
  font-family: 'Playfair Display', serif;
}

.sidebar .menu li a{
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar .menu li a:hover{
  background-color: #696969;
}

/* logo*/
#logo{
  height: 220px;
  padding-bottom: 10px;
}

/* Social Icons*/
.social-icon{
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.social-icon li{
  width: 20%;
  text-align: center;
  list-style: none;
}
.social-icon li a{
  display: block;
  font-size: 18px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px; 
}
.social-icon li a:hover{
   background-color: #696969;
}
/*footer*/

