body{
  margin: 0;
  padding: 0;
  background-image: url(../../images/scissors.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  background-color: black;
}

.menu-icon{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 44px;
  padding: 4px, 8px; 
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}


/* Side Bar styling*/
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #262626;
  transition: .5s;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

/* Inside side bar styling*/

.sidebar .menu {
  margin: 0;
  padding: 40px 0;
}

.sidebar .menu li{
  list-style: none;
  font-family: 'Playfair Display', serif;
}

.sidebar .menu li a{
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar .menu li a:hover{
  background-color: #696969;
}

/* logo*/
#logo{
  height: 220px;
  padding-bottom: 10px;
}

/* Social Icons*/
.social-icon{
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.social-icon li{
  width: 20%;
  text-align: center;
  list-style: none;
}
.social-icon li a{
  display: block;
  font-size: 18px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px; 
}
.social-icon li a:hover{
   background-color: #696969;
}

/* idk*/ 
.content{
  padding: 20px;
  font-size: 16px;
  color: black;
  font-family: sans-serif;
}
.content h2{
  font-size: 30px;
    text-transform: uppercase;
    margin-left: 310px;
}
.content p{
  font-size: 18px;
  text-align: justify;
  margin-left: 310px;
}
.content span{
  background: black;
  color: white;
  padding: 10px 0px;
  display: block;
  float: left;
  text-align: center;
  width: 150px;
  cursor: pointer;
  margin-left: 10px;
}
.show{
  left: 0;
}
