body{
  margin: 0;
  padding: 0;
  background: #000000; 
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

/* Content styling*/

h1{
  text-align: center;
  font-size: 40px;
  padding-left: 200px;
  font-family: 'Playfair Display', serif;
  background-color: #000000;
  color: #696969;

}

/* Side Bar styling*/
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #262626;
  transition: .5s;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

/* Inside side bar styling*/

.sidebar .menu {
  margin: 0;
  padding: 40px 0;
}

.sidebar .menu li{
  list-style: none;
  font-family: 'Playfair Display', serif
}

.sidebar .menu li a{
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar .menu li a:hover{
  background-color: #696969;
}

/* logo*/
#logo{
  height: 220px;
  padding-bottom: 10px;
}

/* Social Icons*/
.social-icon{
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.social-icon li{
  width: 20%;
  text-align: center;
  list-style: none;
}
.social-icon li a{
  display: block;
  font-size: 18px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px; 
}
.social-icon li a:hover{
  background-color: #696969;
}


